<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <form action="/api/signin" method="POST" class="form">
                <h2>Вход</h2>
                <fieldset class="fieldset"><input type="email" placeholder="Введите email" name="email"></fieldset>
                <fieldset class="fieldset"><input type="password" placeholder="Введите пароль" name="password"></fieldset>
                <fieldset  class="fieldset"><button class="blue-button" type="submit">Войти</button></fieldset>                
                <p>
                    Войти с помощью:
                    <a href="/api/auth/google">Google</a>,
                    <a href="/api/auth/github">GitHub</a>
                </p>
            </form>
            
            
            <!-- <div class="main-content text-center">
                <h2>
                    Вход
                </h2>
                <input type="email" placeholder="Введите email"><br>
                <input type="password" placeholder="Введите пароль"> <br>
                <button class="blue-button">Войти</button>
            </div> -->
        </div>
    </div>
    <%- include('partials/scripts.ejs')%>
</body>
</html>